
/* ETILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #000;
    height: 100vh;

}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}


.contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #00FF08;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

button:hover{
    box-shadow: 0px 0px 8px #00FF08;
    transform: scale(1.05);
}

.flex{
    display: flex;
}

h2.titulo{
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span{
    color: #00FF08;
}

/* ESTILO DO CABEÇALHO */

header{
    padding: 40PX 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #7d7d7d;
    text-decoration: none;
    display: inline-block;
    transition: 0.2s;
}

header a:hover{
    color: #fff;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav li{
    display: inline-block;
    padding: 0 40px;
}

/* ESTILO DO TOPO DO SITE */

section.topo-do-site{
    padding: 10px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 200px;
}

.topo-do-site .txt-topo-site h1{
    color: #fff;
    font-size: 38px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span{
    color: #00FF08;
    font-size: 38px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site p{
    color: #fff;
    font-size: 24px;
    line-height: 40px;
    margin: 40px 0px;
}

.topo-do-site .txt-topo-site p span{
    color: #00FF08;
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/* ESTILO ESPECIALIDADES */

section.especialidades{
    padding: 80px 4%;
}

section.especialidades .flex{
    justify-content: center;
    gap: 60px;
}

.especialidades .especialidades-box{
    color: #fff;
    padding: 40px;
    border-radius: 25px;
    margin-top: 45px;
    transition: 0.2s;
}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px #ffffff78;
}

.especialidades .especialidades-box h3{
    font-size: 24px;
    margin: 15px 0;
}

/* ESTILO SOBRE MIM */

section.sobre-mim{
    padding: 80px 4%;
}

section.sobre-mim .flex{
    align-items: center;
    gap: 60px;
}

.sobre-mim .txt-sobre-mim{
    color: #fff;
}

.sobre-mim .txt-sobre-mim h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre-mim .txt-sobre-mim h2 span{
    color: #00FF08;
    display: block;
    font-size: 40px;
}

.sobre-mim .txt-sobre-mim p{
    margin: 10px 0;
    text-align: justify;
    text-indent: 2em;
}

.sobre-mim .txt-sobre-mim .rede-social button{
    width: 60px;
    height: 60px;
    border-radius: 25px;
    border: none;
    background-color: #000;
    font-size: 20px;
    cursor: pointer;
    margin: 0 6px;
    transition: .2s;
}

/* ESTILO MEU PORTIFÓLIO */

section.portifolio{
    padding: 80px 4%;
    box-shadow: 0px 0px 40px 10px #ffffff1d;
}

section.portifolio .flex{
    justify-content: space-around;
    margin-top: 60px;

}

.img-port{
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 25px;
    position: relative;
}

.img-port:hover{
    background-position: 100% 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b8;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transform: 0.5s;
}

.overlay:hover{
    opacity: 1;
}