<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- GOOGLE FONTE -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <!-- FIM GOOGLE FONTES -->
    <!--BOOTSTRAP INCONS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <!--FIM BOOTSTRAP INCONS-->

    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Portifolio Lucas Costa</title>
</head>

<body>

    <header>
        <div class="interface">
            <div class="logo">
                <a href="{{ url_for('pagina_home') }}">
                    <img src="{{ url_for('static', filename='images/HomePage.png') }}" alt="" width="50" height="60">
                </a>
            </div><!--logo-->

            <nav class="menu-desktop">
                <ul>
                    <li><a href="{{ url_for('pagina_home') }}">Inicio</a></li>
                    <li><a href="#especialidades">Especialidades</a></li>
                    <li><a href="#sobre-mim">Sobre</a></li>
                    <li><a href="{{ url_for('pagina_projetos') }}">Projetos</a></li>
                </ul>
            </nav>

            <div class="contato">
                <a href="mailto:lucas.estatistico@outlook.com">
                    <button>Contato</button>
                </a>
            </div><!--contato-->
        </div><!--interface-->
    </header>

    <main>
        <!-- Projetos Técnicos com Galeria -->
        <section class="portifolio" id="portifolio">
            <div class="interface">
                <h2 class="titulo">MEU <span>PORTIFÓLIO.</span></h2>
                <div class="project-container">
                    <div class="project-card">
                        <div class="card-header">
                            <h3 class="project-title">Faturamento vs Meta</h3>
                            <span class="project-tag">POWER BI</span>
                            <span class="project-tag">PYTHON</span>
                        </div>
                        <div class="card-content">
                            <a href="https://app.powerbi.com/view?r=eyJrIjoiNDM5YTczNTUtNzkxYS00MzZjLTlkZmYtNjZmMDBhYWU4MTg0IiwidCI6ImE3YmJlZjdmLTY1NzctNDA3Mi05YzhkLTk1ZDNmMWVmMWM1ZSJ9" target="_blank">
                                <div class="card-image" style="background-image: url('{{ url_for('static', filename='images/Data Expert.png') }}');">
                                    
                                </div>
                            </a>
                            <p class="project-description">Acompanhando a performance comercial em tempo real! 📊🚀 Este painel compara o
                                faturamento realizado com as metas estabelecidas, trazendo insights sobre evolução
                                mensal, desempenho por produto e ranking de vendedores. Além disso, destaca ticket
                                médio, notas emitidas e projeções de forecast para o fechamento anual. 💼✨</p>
                        </div>
                    </div>

                    <div class="project-card">
                        <div class="card-header">
                            <h3 class="project-title">Previsão BOVA11</h3>
                            <span class="project-tag">POWER BI</span>
                            <span class="project-tag">PYTHON</span>
                            <span class="project-tag">ARMA-GARCH</span>
                            <span class="project-tag">REDE LSTM</span>
                        </div>
                        
                        <div class="card-content">
                        <a href="https://app.powerbi.com/view?r=eyJrIjoiNjJlN2JmZGMtMjViOS00OGNiLWFlYzMtZjIzOGI1ODhmM2ZiIiwidCI6ImE3YmJlZjdmLTY1NzctNDA3Mi05YzhkLTk1ZDNmMWVmMWM1ZSJ9" target="_blank">
                            <div class="card-image" style="background-image: url('{{ url_for('static', filename='images/Previsão BOVA11.png') }}');">
                            
                            </div>
                        </a>
                            <p class="project-description">Analisando o futuro financeiro com precisão! 📈✨ Este painel compara o poder da
                                inteligência artificial, representada por uma rede neural LSTM, e da estatística,
                                através do modelo GARCH, para prever a cotação do BOVA11. Utilizamos R e Python para
                                treinar os modelos e o Power BI para visualizar os resultados. A junção perfeita de
                                tecnologia e análise de dados. 💹🤖</p>
                        </div>
                    </div>

                    <div class="project-card">
                        <div class="card-header">
                            <h3 class="project-title">Controle de Gastos Pessoais</h3>
                            <span class="project-tag">POWER BI</span>
                            <span class="project-tag">FORMS</span>
                            <span class="project-tag">POWER ATOMATE</span>
                        </div>
                        
                        <div class="card-content">
                        <a href="#" target="_blank">
                            <div class="card-image" style="background-image: url('{{ url_for('static', filename='images/Controle de Gastos.png') }}');">
                                
                            </div>
                        </a>
                            <p class="project-description">Controlando as finanças pessoais com clareza e inteligência! 💰📊 Este painel
                                acompanha a carteira ao longo do tempo, destacando receitas, despesas e a média
                                mensal, além de detalhar a variação do saldo acumulado. Também traz insights sobre
                                despesas por categoria, distribuição das transações e comparativos entre metas e
                                valores realizados. Oferece uma visão completa para tomada de decisões financeiras
                                mais conscientes e estratégicas. 📉✨</p>
                        </div>
                    </div>

                    <div class="project-card">
                        <div class="card-header">
                            <h3 class="project-title">Previsão Ações Streamlit</h3>
                            <span class="project-tag">PYTHON</span>
                            <span class="project-tag">STREAMLIT</span>
                            <span class="project-tag">ARMA-GARCH</span>
                        </div>
                        
                        <div class="card-content">
                        <a href="https://lucas-estatistico-acoes.streamlit.app/" target="_blank">
                            <div class="card-image" style="background-image: url('{{ url_for('static', filename='images/Dashboard Streamlit.png') }}');">
                                
                            </div>
                        </a>
                        <p class="project-description">
                            📈✨ Este painel interativo, desenvolvido com Streamlit, oferece uma análise aprofundada do desempenho de qualquer ação de sua escolha. Digite o ticker desejado para explorar dados históricos, visualizar gráficos de preços e acompanhar as previsões geradas pelo modelo ARMA-GARCH. Uma ferramenta poderosa e flexível para suas análises e projeções no mercado financeiro. 💹💻
                        </p>
                        </div>
                    </div>
                </div>
            </div>
            
        </section>

    </main>

    <script src="{{ url_for('static', filename='main.js') }}"></script>

</body>

</html>